body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #333;
    background-color: #fff;
}

*:before,
*:after,
* {
    box-sizing: border-box;
    outline: none !important; /*remove the borders of lang_btns*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.conteiner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/*header ===== */

.header {
    width: 100%;
    height: 100px;
    /*position: absolute;  - может понадобиться,
      если сделать шапку, ездящую при сколле (1-2)*/
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;
}

.logo {
    margin-left: 140px;
    width: 235px;
    height: 48px;
}


/* Navigation =====*/

.nav {
    text-transform: uppercase;
}

.nav__link {
    margin-left: 35px;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
}

.nav__link:first-child {
    margin-left: 60px;
}

.nav__link:last-child {
    margin-right: 98px;
}

.nav__link:hover {
    color:#ff3419;
    transition: 0.1s;
}

.nav__link:active {
    color:rgba(00, 00, 00, 0.4);
}

/* Language switcher =====*/

.lang__btn {
    border: none;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.01em;
    color: #b4b3b3;
}

.lang__btn:hover {
    color:#ff3419;
}

.lang__btn:active {
    color: #1c4f9a;
    border:none;
}

.lang__btn:focus {
    color: #1c4f9a;
}

.lang__divider {
    color: #1c4f9a;
}

.cart__link {
    margin-left: 75px;
    fill: #fff;
}

.cart__link:hover {
    fill: #b4b3b3;
}

.cart__link:active {
    fill: #1c4f9a;
}

/*hero ===== */

.hero {
    /*padding-top: 100px; - может понадобиться,
      если сделать шапку, ездящую при сколле (2-2)*/
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    max-height: 800px;
    margin:  auto;
    background: #193661 url(img/pizza.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
}

.hero:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to right, #011533 0.08%, #021d4500 77%);
}

.hero__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.20;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 190px;
    margin-left: 135px;
    position: relative;
}

.hero__conteiner {
    width: 1440px;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1000;
}

.hero__title_red {
    color: #ff3419;
    text-transform: lowercase;
}

.divider {
    background-color: #ff3419;
    width: 170px;
    height: 6px;
    margin: 0 auto;
}

.divider--hero {
    margin-top: 40px;
    margin-left: 140px;
}

.title__offer {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ff3419;
    margin-top: 150px;
    margin-left: 140px;
    position: absolute;
}

.title__promo {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 30px;
    margin-left: 140px;
    margin-top: 50px;
    color: #fff;
}

.main-btn {
    color: #fff;
    border: solid 6px;
    box-sizing: border-box;
    padding: 30px 120px;
    background: none;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 45px;
    margin-left: 140px;
}

.main-btn:hover {
    color: #ff3419;
    border-color: #fff;
}

.main-btn:active {
    border-color: #ff3419;
}

.cooking {
    width: 1440px;
    height: 860px;
    margin: 0 auto;
    /*border: #ff0000 solid 1px;*/
}

.cooking__title {
    text-align: center;
}

.main-title {
    font-family: 'Fira Sans Condensed';
    font-size: 57px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px auto 30px;
    color: #000;
}

.main-suptitle {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 100px;
}

.lead__text {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 30px;
    margin: 40px auto 60px;
    color: #000000;
}

.cooking__block {
    width: 1160px;
    height: 370px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.cooking__img {
    width: 100%;
    height: auto;
    background: #193661 url(img/burger.jpg);
    background-size: cover;
    position: relative;
}

.cooking__img:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, rgba(22, 27, 44, 0.432),rgba(36, 43, 70, 0));
}

.cooking__right-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*overflow: hidden;*/
}

/* ===== tabs ===== */

.tab {
    overflow: hidden;
    width: 460px;
    height: 50px;
    margin-left: 24px;
    flex-direction: row;
    display: flex;
    justify-content: start;
}


.tab button {
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    background-color: #e5e5e5;
    margin: 0 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ff3419;
}


.tab button.active {
    background-color: #000000;
    color: #fff;
}


.tabcontent {
    display: none;
    width: 460px;
    height: 50px;
    margin-left: 24px;
}


.text-block {
    width: 568px;
    height: 320px;
    border: #e5e5e5  solid 0.5px;
    /*margin-left: 24px;*/
}

.cooking__text {
    font-size: 16px;
    letter-spacing: 0em;
    margin: 40px 69px auto;
}
/*
.brick {
    width: 150px;
    height: 50px;
    background-color: #000000;
    margin: 0 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* brick - плитки из секции Наша кухня (блюда-десерты-напитки)

.brick--grey {
    background-color: #e5e5e5;
}

.brick__text {
    text-decoration: none;
    color: #fff;
}

.brick__text--inv {
    color: #000000;
}

*/

.cooking__list {
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 32px;
    list-style-image: url(img/check.svg);
    margin: 12px auto 40px 52px;
}

.full__menu {
    margin-top: 100px;
    height: 591px;
    background-size: cover;
    background-image: url(img/full_menu.jpg);
    color: #fff;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full__menu:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, rgba(22, 27, 44, 0.219) 34.14%, rgba(36, 43, 70, 0) 60.69%);
    z-index: -1;
}

.main-title--white {
    color: #fff;
}

.divider--white {
    background-color: #fff;
}

.lead__text--white {
    color: #fff;
}

.main-btn--look-more {
    margin: 0 auto 120px;
}