body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #333;
    background-color: #fff;
}

*:before,
*:after,
* {
    box-sizing: border-box;
    outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.conteiner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/*header ===== */

.header {
    width: 100%;
    height: 100px;
    /*position: absolute;  - может понадобиться,
      если сделать шапку, ездящую при сколле (1-2)*/
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;
}

.logo {
    margin-left: 140px;
    width: 235px;
    height: 48px;
}


/* Navigation =====*/

.nav {
    text-transform: uppercase;
}

.nav__link {
    margin-left: 35px;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
}

.nav__link:first-child {
    margin-left: 60px;
}

.nav__link:last-child {
    margin-right: 98px;
}

.nav__link:hover {
    color:#ff3419;
    transition: 0.1s;
}

.nav__link:active {
    color:rgba(00, 00, 00, 0.4);
}

/* Language switcher =====*/

.lang__btn {
    border: none;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.01em;
    color: #b4b3b3;
}

.lang__btn:hover {
    color:#ff3419;
}

.lang__btn:active {
    color: #1c4f9a;
    border:none;
}

.lang__btn:focus {
    color: #1c4f9a;
}

.lang__divider {
    color: #1c4f9a;
}

.cart__link {
    margin-left: 75px;
    fill: #fff;
}

.cart__link:hover {
    fill: #b4b3b3;
}

.cart__link:active {
    fill: #1c4f9a;
}

/*hero ===== */

.hero {
    /*padding-top: 100px; - может понадобиться,
      если сделать шапку, ездящую при сколле (2-2)*/
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    max-height: 800px;
    margin:  auto;
    background: #193661 url(img/pizza.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
}

.hero:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: " ";
    background: linear-gradient(to right, #011533 0.08%, #021d4500 77%)
}

.hero__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.20;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 190px;
    margin-left: 135px;
    position: relative;
}

.hero__conteiner {
    width: 1440px;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1000;
}

.hero__title_red {
    color: #ff3419;
    text-transform: lowercase;
}

.divider {
    background-color: #ff3419;
    width: 170px;
    height: 6px;
}

.divider--hero {
    margin-top: 40px;
    margin-left: 140px;
}

.title__offer {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ff3419;
    margin-top: 150px;
    margin-left: 140px;
    position: absolute;
}

.title__promo {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 30px;
    margin-left: 140px;
    margin-top: 50px;
    color: #fff;
}

.order_btn {
    color: #fff;
    border: solid 6px;
    box-sizing: border-box;
    padding: 30px 120px;
    background: none;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 45px;
    margin-left: 140px;
}

.order_btn:hover {
    color: #ff3419;
    border-color: #fff;
}

.order_btn:active {
    border-color: #ff3419;
}
